
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    background: #020202; 
    overflow: hidden; 
  }

  .card_wrapper{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
  }

  .card {
    position: relative;
    width: 300px;
    height: 425px;
    border: 10px solid rgba(164, 18, 42, 0.32);
    margin: 60px auto 0 auto;
    box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom, rgba(223, 185, 12, 0.42), rgba(171, 32, 32, 0.767)), url(../assest/image/pari.jpg);
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    background-color: #e6f0e6;
  }

  .card .text-container {
    width: 80%;
    height: 80%;
    margin: auto;
  }

  .strikethrough {
    text-decoration: line-through;
  }

  .card .text-container #head {
    font-size: 1.8rem;
    margin: 40px auto 60px auto;
    font-weight: 800;
    color: #fff;
    text-align: center;
  }

  .card p {
    font-size: 1.3rem;
    font-family: 'Nobile';
    color: #f3eeee;
    font-style: italic;
    text-align: center;
    margin: 20px auto 0px auto;
    font-weight: 600;
  }

  .card .front {
    position: absolute;
    width: 300px;
    height: 425px;
    margin: -9px 0px 0px -9px;
    border: 10px solid rgb(165, 9, 93);
    backface-visibility: hidden;
    background-color: pink;
    background-image: url(../assest/image/pari.jpg);
    background-position:center ;
    background-repeat: no-repeat;
    /* background-image: url($cover-image);
   */
    background-size: cover;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(800px) rotateY(0deg);
    transition: all 0.8s ease-in-out;
  }

  .card:hover .front {
    transform: perspective(800px) rotateY(-170deg);
    background-color: #d2dcd2;
  }

  .card:hover .back {
    width: 300px;
    height: 425px;
    transform: perspective(800px) rotateY(-170deg);
    box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-image: url(../assest/image/pari.jpg);
    background-position: center center;
  }

  .card .back {
    position: absolute;
    width: 300px;
    height: 425px;
    border: 10px solid rgba(164, 18, 42, 0.623);
    margin: -10px 0px 0px -10px;
    backface-visibility: visible;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(800px) rotateY(0deg);
    transition: all 0.8s ease-in-out;
    background-image: url(../assest/image/pari.jpg);
    background-position: center center;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }

  .imgset {
    position: relative;
    z-index: 1;
    margin-bottom: -215px;
  }

  .imgset img {
    box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
  }
 
  canvas{
    display:block
  }
  .Happy {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-5%);
    text-align: center;
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 2rem;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
    
  }
  @media only screen and (max-width: 600px) {
    .Happy{
      font-size: 1.6rem;
      width: 100%;
      top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    }
  }